.wd-mm-navigation {
    background-color: black;
    list-style: none;
}

.wd-mm-navigation li.wd-active {
    background-color: white;
}

.wd-mm-navigation li.wd-active a {
    color: black;
}

.wd-mm-navigation a {
    color: white;
    text-decoration: none;
}

.wd-mm-navigation li svg {
    font-size: 2em;
    color: white;
}
.wd-mm-navigation li.wd-active svg {
    color: black;
}

.wd-size {
    height: 100vh;
}